body {
  margin: 0;
  padding: 0;
}
#app {
    height: 100vh;
}
.main-container {
    height:100%;
    overflow: hidden;
    background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header #lock-switch {
  align-self: flex-end;
}
.header .header-status {
  font: 20px 'Roboto', sans-serif;
  align-content: center;
  margin-right: 0;
}